<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Enter Chat</title>
        <link rel="stylesheet" href="/css/enter.css"/>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Enter</h1>
            <p th:text="${warnMessage}"></p>
            <form th:action="@{/chat/adduser}" th:object="${name}" th:method="post">
                <input th:type="text" name="name" th:method="post" placeholder="Enter name"/>
                <button type="submit" value="Submit" th:text="'Add User'"></button>
            </form>
        </div>
    </body>
    <th:block layout:fragment="scripts">
        <script src="/js/hello.js"></script>
    </th:block>
</html>