<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <h1>Peer to Peer Chat Program</h1>
        <form th:action="@{/chat/edituser}" th:object="${activeUser}" th:method="post">
           <input th:type="text" name="name" th:placeholder="${activeUser.name}"/>
           <button type="submit" value="Submit" th:text="'Change User'"></button>
        </form>
        <ul th:each="message : ${messages}">
            <li th:text="${message.chatUser} + ' says:'"></li>
            <li th:text="${message.text}" style="list-style: none;"></li>
        </ul>
    <form th:action="@{/chat/addmessage}" th:object="${newMessage}" th:method="post">
            <textarea rows="2" cols="40" th:field="*{text}"/>
            <!--<input type="hidden" th:field="*{id}"/>-->
            <input type="hidden" th:="*{chatUser}" th:value="${activeUser.name}"/>
            <button type="submit" value="Submit" th:text="'Send Message'"></button>
        </form>
    </body>
</html>