<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
    <p th:text="'Active user:' + ${activeUser.name}"></p>
    <h1>Peer to Peer Chat Program</h1>
        <form th:action="@{/chat/edituser}" th:object="${activeUser}" th:method="post">
           <input th:type="text" name="name" th:placeholder="${activeUser.name}"/>
           <button type="submit" value="Submit" th:text="'Change User'"></button>
        </form>
        <form th:action="@{/chat/addmessage}" th:object="${message}" th:method="post">
            <textarea rows="2" cols="40" name="text"/>
            <button type="submit" value="Submit" th:text="'Send Message'"></button>
        </form>
        <ul th:each="user : ${users}">
            <li th:text="'Users:' + ${user.name}"></li>
        </ul>
        <a href="/chat/enter"></a>

    </body>
</html>