<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <h1>Peer to Peer Chat Program</h1>
        <form th:action="@{/chat/edituser}" th:object="${activeUser}" th:method="post">
           <input th:type="text" name="username" th:placeholder="${activeUser.username}"/>
           <button type="submit" value="Submit" th:text="'Change User'"></button>
        </form>
        <ul th:each="message : ${messages}">
            <li th:text="${message.username} + ' says:'"></li>
            <li th:text="${message.text}" style="list-style: none;"></li>
        </ul>
        <form action="/addmessage">
            <textarea name="newMessage" rows="5" cols="30"></textarea>
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>